<div id="delivery-inf" class="aba delivery-inf second">
    <div class="card">
        
        <div class="row card-content">
            
            <div class=" normal-height col s12">
                <p>Entrega</p>
               
            </div>
            
        </div>
    </div>
</div>