<div id="delivery-inf" class="aba delivery-inf second">
    <div class="card">
        
        <div class="row card-content">
            
            <div class="normal-height col s12">
                <div id="endereco-faturamento" class="col s12 endereco-faturamento addressSection">
                    <div class="row">
                        <div class="col s12">
                            <h3>Dados para faturamento</h3>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="cep" name="cepFaturamento" type="text"  class="required" />
                            <label class="form-label" for="cep">*CEP</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="cidadeFaturamento" name="cidadeFaturamento" type="text"  class="required" />
                            <label class="form-label" for="cidadeFaturamento">*Cidade</label>
                        </div>
                         <div class="input-field col s12 m6">
                            <input id="estadoFaturamento" name="estadoFaturamento" type="text"  class="required" />
                            <label class="form-label" for="estadoFaturamento">*Estado</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="bairroFaturamento" name="bairroFaturamento" type="text"  class="required" />
                            <label class="form-label" for="bairroFaturamento">*Bairro</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="enderecoFaturamento" name="enderecoFaturamento" type="text"  class="required" />
                            <label class="form-label" for="enderecoFaturamento">*Endereço</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="numero" name="numeroEndFaturamento" type="text" class="required"/>
                            <label class="form-label" for="numeroEndFaturamento">*Número</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="complementoEndFaturamento" name="complementoEndFaturamento" type="text" />
                            <label class="form-label" for="complementoEndFaturamento">Complemento</label>
                        </div>

                    </div>
                </div>

                <div class="input-field col s12 normal-height">
                    <p><b>Endereço de entrega é o mesmo do faturamento?</b></p>
                    <label>
                        <input name="enderecoEntrega" id="enderecoEntrega" type="checkbox" target="#endereco-entrega" exclude checked/>
                        <span>Sim</span>
                    </label>
                </div>

                <div id="endereco-entrega" class="col s12 endereco-entrega hide addressSection">
                    <div class="row">
                        <div class="col s12">
                            <h3>Dados para Entrega</h3>
                        </div>

                        <div class="input-field col s12 m6">
                            <input id="cep" name="cepEntrega" type="text"  class="required" />
                            <label class="form-label" for="cep">*CEP</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="cidadeEntrega" name="cidadeEntrega" type="text"  class="required" />
                            <label class="form-label" for="cidadeEntrega">*Cidade</label>
                        </div>
                         <div class="input-field col s12 m6">
                            <input id="estadoEntrega" name="estadoEntrega" type="text"  class="required" />
                            <label class="form-label" for="estadoEntrega">*Estado</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="bairroEntrega" name="bairroEntrega" type="text"  class="required" />
                            <label class="form-label" for="bairroEntrega">*Bairro</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="enderecoEntrega" name="enderecoEntrega" type="text"  class="required" />
                            <label class="form-label" for="enderecoEntrega">*Endereço</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="numero" name="numeroEndEntrega" type="text" class="required"/>
                            <label class="form-label" for="numeroEndEntrega">*Número</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input id="complementoEndEntrega" name="complementoEndEntrega" type="text" />
                            <label class="form-label" for="complementoEndEntrega">Complemento</label>
                        </div>
                    </div>             
                </div>

                <div class="input-field col s12 normal-height">
                    <p><b>Destinatário é o proprio comprador?</b></p>
                    <label>
                        <input name="compradorIgualDestinatario" id="compradorIgualDestinatario" type="checkbox" target="#destinatario" exclude checked />
                        <span>sim</span>
                    </label>
                </div>

                <div id="destinatario" class="col s12 destinatario hide">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="nomeDestinatario" name="nomeDestinatario" type="text" class="required" />
                            <label class="form-label" for="name">*Nome</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="cpf" name="cpfDestinatario" type="text" class="required" />
                            <label class="form-label" for="cpf">*CPF</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>