<div id="payment-inf" class="aba payment-inf third">
    <div class="card">
       
        <div class="row card-content">
            
            <div class=" normal-height col s12">
                <ul>
                    <li><a href="#credit-card">Cartão de crédio</a></li>
                    <li><a href="#boleto"></a>Boleto</li>
                    <li><a href="#transferência"></a>Transferência Bancária</li>
                    <li><a href="#pag-seguro"></a>Pag Seguro</li>
                    <li><a href="#pay-pal"></a>Pay Pal</li>
                    <li><a href="#mercado-pago">Mercado Pago</a></li>
                </ul>
                
            </div>
            
        </div>
    </div>
</div>