<div id="payment-inf" class="aba payment-inf third">
    
    
    <div class="card">
       
        <div class="row card-content">
            <div class="input-field normal-height">
                <input type="hidden" id="selectedPayMethod" name="meioDePagamento" class="required"/>
                <label for="selectedPayMethod" class="hide"> método de pagamento</label>
            </div>
            <div class=" normal-height col s12">
                <div class="row">
                    <ul class="pay-methods col s12 m6 custom-tabs">
                        <li class="custom-tab creditCard">
                            <a tab="#credit-card" class="modal-trigger" href="#modal-credit-card">
                                <i class="material-icons creditCard">
                                    credit_card
                                </i>
                                <span> Cartão de crédio</span>
                            </a>
                        </li>
                        <li class="custom-tab">
                            <a tab="#boleto" class="barCode">
                                <i class="credit-card-barcode"></i>
                                <span> Boleto</span>
                            </a>
                        </li>
                        <li class="custom-tab">
                            <a tab="#transferencia" class="exchange">
                                <i class="credit-card-dollar"></i>
                                <span> Transfência Bancária</span>
                            </a>
                        </li>
                        <li class="custom-tab">
                            <a tab="#pag-seguro" class="pagSeguro">
                                <i class="credit-card-pagSeguro"></i>
                                <span> Pag Seguro</span>
                            </a>
                        </li>
                        <li class="custom-tab">
                            <a tab="#pay-pal" class="payPal">
                                <i class="credit-card-PayPal"></i>
                                <span> Pay Pal</span>
                            </a>
                        </li>
                        <li class="custom-tab">
                            <a tab="#mercado-pago" class="mercadoPago">
                                <i class="credit-card-mercadopago"></i>
                                <span> Mercado Pago</span>
                            </a>
                        </li>
                    </ul>
                    <div class="payment-desciption col s12 m6">
                        <div id="credit-card">
                            Cartão de credito
                        </div>

                        <div id="boleto">
                            Boleto
                            
                        </div>

                        <div id="transferencia">
                            Transfência Bancária
                            
                        </div>

                        <div id="pag-seguro">
                            Pag Seguro
                            
                        </div>

                        <div id="pay-pal">
                            Pay Pal
                            
                        </div>

                        <div id="mercado-pago">
                            Mercado Pago
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>