<div id="payment-inf" class="aba payment-inf third">
    <div class="card">
       
        <div class="row card-content">
            
            <div class=" normal-height col s12">
                <div class="row">
                    <ul class="pay-methods col s12 m6 custom-tabs">
                        <li class="custom-tab">
                            <a tab="#credit-card" class="modal-trigger" href="#modal-credit-card">
                                <i class="material-icons creditCard">
                                    credit_card
                                </i>
                                 Cartão de crédio
                            </a>
                        </li>
                        <li class="custom-tab">
                            <a tab="#boleto">
                                <i class="credit-card-barcode"></i>
                                 Boleto
                            </a>
                        </li>
                        <li class="custom-tab">
                            <a tab="#transferencia">
                                <i class="credit-card-dollar"></i>
                                 Transfência Bancária
                            </a>
                        </li>
                        <li class="custom-tab">
                            <a tab="#pag-seguro">
                                <i class="credit-card-pagSeguro"></i>
                            </a>
                        </li>
                        <li class="custom-tab">
                            <a tab="#pay-pal">
                                <i class="credit-card-PayPal"></i>
                            </a>
                        </li>
                        <li class="custom-tab">
                            <a tab="#mercado-pago">
                                <i class="credit-card-mercadopago"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="payment-desciption col s12 m6">
                        <div id="credit-card">
                            Cartão de credito
                        </div>

                        <div id="boleto">
                            Boleto
                        </div>

                        <div id="transferencia">
                            Transfência Bancária
                        </div>

                        <div id="pag-seguro">
                            Pag Seguro
                        </div>

                        <div id="pay-pal">
                            Pay Pal
                        </div>

                        <div id="mercado-pago">
                            Mercado Pago
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>