<div id="personal-inf" class="aba personal-inf first">
    <div class="card">
        <!--div class="row card-header">
                <h2>Dados Pessoais</h2>
        </div-->
        <div class="row card-content">
            
            <div class="input-field normal-height col s12">
                <p>Pessoa jurídica?</p>
                <label>
                    <input name="pessoaJuridica" type="checkbox" target="#pessoa-juridica, #pessoa-fisica" />
                    <span>Sim</span>
                </label>
            </div>
            
            <div id="pessoa-fisica" class="col s12 pessoa-fisica">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="name" name="name" type="text" class="required" />
                        <label class="form-label" for="name">*Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="cpf" name="cpf" type="text" class="required" />
                        <label class="form-label" for="cpf">*CPF</label>
                    </div>
                </div>
            </div>

            <div id="pessoa-juridica" class="col s12 pessoa-juridica">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="razaoSocial" name="razaoSocial" type="text" class="required" />
                        <label class="form-label" for="razaoSocial">*Razão Social</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="nomeFantasia" name="nomeFantasia" type="text" class="required" />
                        <label class="form-label" for="nomeFantasia">*Nome Fantasia</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input id="cnpj" name="cnpj" cpf="" type="text" class="required" />
                        <label class="form-label" for="cnpj">*CNPJ</label>
                    </div>
                    <div class="col s12 m6">
                        <div class="row">
                            <div class="input-field normal-height col s12 m6">
                                <p>Isento de Inscrição estadual?</p>
                                <label>
                                    <input name="isentoInscricaoEstadual" type="checkbox" target="#inscricaoEstadual" />
                                    <span>Sim</span>
                                </label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="inscricaoEstadual" name="inscricaoEstadual" type="text"  />
                                <label class="form-label" for="inscricaoEstadual">Inscrição Estadual</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="geral" class="col s12 geral">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input id="email" name="email" type="email"  />
                        <label class="form-label" for="email">*E-mail</label>
                    </div>
                     <div class="input-field col s12 m6">
                        <input id="tel" name="tel" type="tel"  />
                        <label class="form-label" for="tel">*Telefone</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>