 <!-- Modal Structure -->
<div id="modal-credit-card" class="modal">
    <div class="modal-header">
        <h4>Informe seus dados para pagamento</h4>
        <p>
            <label>Total:</label>
            <span class="currency">R$100,00</span>
        </p>
    </div>
    <div class="modal-content">
        <div class="card-content">
            <div class="frente">
                <div class="card-header">
                    <div class="card-chip"><i class="credit-card-chip"></i></div>
                </div>
                <div class="card-body">
                    <div class="outputNumber"></div>
                </div>
                <div class="card-footer">
                    <div class="card-footer-left">
                        <div class="card-exp-date">válido até: <div class="outputExpDate"></div> </div>
                        <div class="outputName"></div>
                        
                    </div>
                    <div class="card-footer-right">
                        <div class="outputBrand"></div>
                    </div>
                </div>
            </div>
            
            <div class="verso">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="assinatura"></div>
                    <div class="outputCvv"></div>
                </div>
                <div class="card-footer">
                    
                </div>
            </div>
        </div>
        <div class="credit-card">
            <div class="col s12 input-field card-number">
                <input id="creditCard" name="numeroCartao" type="text" class="required">
                <label for="#masknumber">Número</label>
            </div>

            <div class="col s12 input-field card-name">
                <input id="maskname" name="proprietarioCartao" type="text" class="required">
                <label for="#maskname">Nome</label>
            </div>

            <div class="col s12 m6 input-field card-exp-date">
                <input id="maskexpdate", name="expDate" type="text" class="required">
                <label for="#maskexpdate">Validade</label>
            </div>

            <div class="col s12 m6 input-field card-cvv">
                <input id="maskcvv" name="cvv" type="text" class="required">
                <label for="#maskcvv">CVV</label>
            </div>

            <div class="col s12 input-field card-installments">
                <select name="installments" id="" class="select" class="required">
                    <option value="1" selected="selected" >à vista</option>
                    <option value="2">2 X</option>
                    <option value="3">3 X</option>
                    <option value="4">4 X</option>
                    <option value="5">5 X</option>
                    <option value="6">6 X</option>
                    <option value="7">7 X</option>
                    <option value="8">8 X</option>
                    <option value="9">9 X</option>
                    <option value="10">10 X</option>
                    <option value="11">11 X</option>
                    <option value="12">12 X</option>
                </select>
                <label for="#installments">Parcelamento</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close btn waves-effect waves-light red">Cancelar</a>
        <button href="#!" class="btn waves-effect waves-light blue enviar" type="submit">
            <i class="material-icons dp48">payment</i>
             Pagar
        </button>
    </div>
</div>