#checkout{
    .cart-resume{
        perspective: 1000px;
        perspective-origin: 200%;
        position: relative;
        top: 50px;

        .card{
            max-width: 92%;
            transform: translateZ(-15px) rotateX(0deg) rotateY(0deg);
            margin: 0 auto;
            border-radius: 10px;
        }

        & > button{
            max-width: 92%;
            transform: translateZ(-40px) rotateX(0deg) rotateY(0deg);
        }
    }   
}