@font-face {
  font-family: 'credit-card';
  src:  url('fonts/credit-card.eot?ce9xq6');
  src:  url('fonts/credit-card.eot?ce9xq6#iefix') format('embedded-opentype'),
    url('fonts/credit-card.ttf?ce9xq6') format('truetype'),
    url('fonts/credit-card.woff?ce9xq6') format('woff'),
    url('fonts/credit-card.svg?ce9xq6#credit-card') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="credit-card-"], [class*=" credit-card-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'credit-card' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.credit-card-mercadopago:before {
  content: "\e90e";
}
.credit-card-dollar:before {
  content: "\e911";
}
.credit-card-barcode:before {
  content: "\e910";
}
.credit-card-PayPal:before {
  content: "\e903";
}
.credit-card-pagSeguro:before {
  content: "\e90f";
}
.credit-card-uoldiveo:before {
  content: "\e90d";
}
.credit-card-UOLIcon:before {
  content: "\e90c";
}
.credit-card-bpag:before {
  content: "\e90b";
}
.credit-card-chip:before {
  content: "\e90a";
}
.credit-card-aura:before {
  content: "\e900";
}
.credit-card-amex:before {
  content: "\e901";
}
.credit-card-diners:before {
  content: "\e902";
}
.credit-card-discover:before {
  content: "\e904";
}
.credit-card-elo:before {
  content: "\e905";
}
.credit-card-hipercard:before {
  content: "\e906";
}
.credit-card-jcb:before {
  content: "\e907";
}
.credit-card-mastercard:before {
  content: "\e908";
}
.credit-card-visa:before {
  content: "\e909";
}
