
<div class="card">

    <div class="row card-content">
        
        <div class=" normal-height col s12">
            <h2>Resumo da Compra</h2>
            
        </div>
        
    </div>
    
</div>
