<!DOCTYPE HTML>
<html>
    <head>
    </head>
    <body id="checkout">
        <section id="main-section">
            <div class="row">
                <div class="col s12 page-header">
                    <h1 class="title">Checkout</h1>
                </div>
            </div>
            <div class="row pannels">
                <form action="#" id ="checkout-form" class="col s12 m7">
                     <div class="row abas">
                        <div class="col s12">
                            <ul class="select-abas">
                                <li class="card-header first">
                                    <a href="#personal-inf">
                                        <h2>Dados Pessoais</h2>
                                    </a>
                                </li>
                                <li class="card-header second">
                                    <a href="#delivery-inf">
                                        <h2>Entrega</h2>
                                    </a>
                                </li>
                                <li class="card-header third">
                                    <a href="#payment-inf">
                                        <h2>Pagamento</h2>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row boxes">
                        {{> payment/personal-data }}
                        {{> payment/delivery-data }}
                        {{> payment/payment-data }}                        
                    </div>
                    <button class="enviar waves-effect waves-light btn azul-claro waves-azul-claro" type="submit">Enviar</button>
                   
                </form>
            </div>
           
            <div class="row">
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Exemplo Checkout</a>
            </div>
        </section>
        
        {{> modals/credit-card-modal }}
    </body>
</html>